/*==== CONTENTS ====*/

/*==== TAG SELECTORS ====*/
/*==== CROSS-PAGE ====*/
/*==== HOME ====*/
/*==== TABLE ====*/
/*==== BIO ====*/
/*==== SIGN IN ====*/
/*==== CONTACT ====*/
/*==== GALLERY ====*/


/*================================================== TAG SELECTORS ======================================================================*/

/* Import "Julius Sans One" */
@font-face {
	font-family: "Julius Sans One";
	src: url('../fonts/JuliusSansOne-Regular.ttf');
}

/* Import "Scriptina" */
@font-face {
	font-family: Scriptina;
	src: url('../fonts/scriptina.regular.ttf');
	}

/* set default fonts */
body {
	font-family: 'Calibri', Arial, sans-serif;
	font-size: 1.2em;
	}

/* configure h1 element; will probably remove after using image as header. */
h1 {
	margin-top: 0;
	font-size: 250%;
	font-family: Scriptina, 'Trebuchet MS', sans-serif;
	position: relative;
	top: -30px;
	right: -30px;
	}

/* removes underlines on links and changes their color. */
a {
	text-decoration: none;
	color: #990000;
	}

.trans_25 {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	}

.trans_50 {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	}
	
.trans_1 {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	}
	
/*================================================== CROSS-PAGE ======================================================================*/

/* Configures the page with a width of 1024px, centers horizontally.
Also automatically adjusts vertical position slightly depending on broswer width. */
#wrapper {	
	width: 1024px;
	/*border: 2px solid #aacccc;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	/*box-shadow: 0 0 30px #aaaaaa;*/
}

/* Adds an image to the logo div. Adds border. Z-index of 100 to keep it on top
of everything. */
#logo	{
	height: 160px;
	width: 160px;
	position: absolute;
	background: url('../images/logo2.png');
	background-size: 160px 160px;
	border: 2px solid #900;
	z-index: 100;

	/*rounded corners */
	-webkit-border-radius: 130px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 130px;
	-moz-border-radius-bottomleft: 0;
	border-radius: 130px;
	border-bottom-left-radius: 0;
}
#logo p {
	visibility: hidden;
	}

/* Sets width of 1024px and height 75px; white background 
so blog posts don't show through. */
#header {
	width: 1024px;
	height: 75px;
	margin: 0;
	text-align: right;
	background-color: #ffffff;
	position: relative;
	}
/* The title on the upper right hand corner. The picture 
is placed in an SVG element in the html to disable pointer 
events in Internet explorer.*/
#title {
	width: 448px;
	height: 92px;
	background: url('../images/title.png');
	background-size: 448px 92px;
	position: absolute;
	left: 170px;
	top: 0;
	pointer-events: none;
	}

#titleLink {
	color: rgba(255, 255, 255, 0);
	width: 448px;
	height: 76px;
	position: absolute;
	left: 170px;

}	
	
/* For blog page. Encapsulates the navbar, header, and logo, 
and fixes them to the top of the screen. */
#topfixed {
	width: 1024px;
	margin: 0 auto;
}

/* The nav bar. */
#nav {
	height: 30px;
	margin: 0;
	background: #900;
	/*background-color: #cccccc;*/
	padding: 0;
}

/* Selects the ul containing the navbar links; 0 margin and padding along with
100% height to allow for the animated boxes to extend fully from top to bottom.
Margins force the ul to the right side of the navbar.*/
#nav ul {
	width: 800px;
	margin: 0 0 0 auto;
	height: 100%;
	padding: 0;
	}
	
/* Selects the individual links in the navbar. Height set to 100% to accomodate
animated boxes. Removed the bullets. Floated to the left to remove the gap
between each link. Margin to 0 to fit everything snugly. */
#nav li {
	height: 100%;
	list-style-type: none;
	float: left;
	margin: 0;
	text-align: center;
	}
	
/* Had to make this selection simply because for some reason, the margins would
push the text outside of the navbar. */
#nav p {
	margin: 0;
}

/* The initial state of the box that drops down when user hovers over each nav link. 
Height is initially set to 0 to hide it above the text.*/
.navbutton {
	background-color: #fff;
	width: 130px;
	height: 0%;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	}
	
/* The end state of the navbutton. Height is fully extended to 100%, and the return to 
its initial state is slower, at 1.5s.*/
.navbutton:hover {
	height: 100%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	}
	
/* The initial state of the text links in the nav bar. Starts black.*/
.link {
	padding-top: 4px;
	color: #fff;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	}

/* The end state of the text links in the nav bar. Text turns white. Return to the 
initial state is slower, at 1s.*/
.link:hover {
	display: block;
	color: #000;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	}

/* The generic content window that holds the content for each page.*/
#content {
	width: 1024px;
	height: 440px;
	margin: 0;
	padding: 0;	
	position: relative;
}

#gallerycontainer {
	height: 380px;
	overflow: auto;
}

/* The text "Select a gallery" in the gallery page.*/
#content h2 {
	margin: 0;
	padding-top: 20px;
	text-align: center;
	font-family: 'Julius Sans One', 'Trebuchet MS', Arial, sans-serif;
	letter-spacing: 5px;
	font-size: 1.6em;
	}

	
/* smaller with than rest of page because the border-top attribute draws a tidy
line between itself and #content.*/
#footer {
	border-top: 1px solid #bbbbbb;
	width: 400px;
	height: 5px;
	margin-top: 5px;
	margin: 0 auto;
	color: #999;
}

/* individual selector for <p> elements just in case we want to add other elements
in the future without messing everything up.*/
#footer p {
	margin: 0;
	font-size: .8em;
	text-align: center;
	font-style: italic;
	padding: 5px;
	}

#welcomeHeader {
	position: fixed;
	top: 0;
	right: 0;
	font-size: .9em;
	background: #900;
	color: white;
	padding: 5px;
	}
	
	
	
	
/*================================================== HOME ======================================================================*/

/* The photo on the main page index.html. Added photo via css. */
#photo {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    background:url('../images/falsecreek_small.jpg');
}







/*================================================== BLOG ======================================================================*/

/* Container for blogcontent. Used to allow the blogcontent id to overflow all the way 
down to the bottom of the screen. *
#blogcontainer {
	position: absolute;
	background: red;
	top: 0;
	bottom: 0;
	margin-top: 115px;
	}/

	
/* The title for the blog page.*/
#blogcontainer h2 {
	text-align: center;
	font-family: 'Julius Sans One', 'Trebuchet MS', Arial, sans-serif;
	letter-spacing: 10px;
	margin-top: 20px;
	}
/* Removed height barrier to accommodate multiple blog posts. */
#blogcontent {
	position: absolute;
	top: 57px;
	height: 100%;
	width: 1024px;
	/*border-bottom: 1px dashed #000000;*/
	margin: 0;
	padding: 0;
	overflow: auto;
	}

/* Each individual post. Centered, with top and bottom margins to separate each post.*/
.blogpost {
	display: block;
	width: 800px;
	border: 1px dashed #aaaaaa;
	margin: 0px auto 20px;
	background-color: #dddddd;
}

/* Centers the text, h3, and images.*/
.blogpost p, h4, img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 40px;
	}
	
/* Makes a box for user comments.*/
.blogpost .usercomments {
	background: #eeeeee;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 20px;
	padding: 20px 10px;
	}
/* The show/hide button.*/
.blogpost .usercomments input {
	background: none;
	width: 500px;
	border: none;
	outline: none;
	font-family: Calibri, 'Trebuchet MS', Arial, sans-serif;
	font-size: 1em;
	border-bottom: 1px solid black;
	text-align: left;
	margin-left: 20px;
	}
/* Formats the entries.*/
.blogpost .usercomments p {
	max-height: 0;
	overflow: hidden;
	padding: 0;
	margin: 20px;
	-webkit-transition: all 1s;
	
	}
/* Formats hashtags.*/
.blogpost .hashtag {
	color: #999999;
	}
	
/* Formats the blogpost image captions.*/
.blogpost figcaption {
	text-align: center;
	font-style: italic;
	font-size: .8em;
	}

	
	
	
	
	
	
/*================================================== TABLE ======================================================================*/
	
/*  the follow section concerns the table for the first blog entry *
	added by Mae on Feb 15, 2014 */	
.table {
margin: auto;
padding: 10px 100px;
display: block;
}
table {
	text-align: center;
	border-collapse: collapse;
	table-layout: fixed;
	font-family: Calibri, sans-serif;
	}



th {
	background-color: #990000;
	color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	height: 40px;
	vertical-align: middle;
	font-family: Julius Sans One, sans-serif;
	}

td {
	width: 275px;
	padding-left: 15px;
	padding-right: 15px;
	}
	
tr {
	width: 275px;
	height: 30px;
	vertical-align: middle;
	}
	
tr:nth-child(2n) {
	background-color: #ffffff;
	}
	
	
/*================================================== BIO ======================================================================*/

/* Container for the bio. */
/* REMOVE 'OVERFLOW: HIDDEN' AND PROPERLY RESIZE PORTRAIT! */
#bio {
	width: 1024px;
	height: 440px;
	padding: 0;
	position: relative;
	overflow: hidden;
	background: url('../images/portrait2_small.jpg');
}

#bio p {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 70px;
	width: 500px;
	height: 100%;
	background: white;
	margin-top: 0;
	background-color: rgba(255, 255, 255, .85);
	}
	
	
	
	
	
	
	
/*================================================== SIGN IN ======================================================================*/

.signInBackground {
	background: url('../images/signin_bg.jpg');
	}
/* The "Sign in" container. Gets darker when the "Register" div comes down.*/
 #signInContainer {
	width: 350px;
	height: 250px;
	margin: 20px auto;
	padding: 25px;
	position: relative;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	opacity: .1;
	background: rgba(100, 100, 100, .4);
	z-index: 1;
}

#signInContainer:target {
	opacity: 1;
	}
	
/* To hide the registration form. */
#regOverflow {
	width: 400px;
	height: 440px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	}
	
/* The "register" container.*/
#registerContainer {
	width: 350px;
	height: 380px;
	padding: 0 25px 50px 25px;
	position: relative;
	top: -440px;
	background: -webkit-linear-gradient(#fff, #ccc);
	background: -moz-linear-gradient(#fff,#ccc);
	background: -o-linear-gradient(#fff,#ccc);
	background: linear-gradient(#fff,#ccc);
	
	-webkit-transition: all .5s 1s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	z-index: 100;
	}
	
.button a p {
	margin-top: 9px;
	font-size: .85em;
	}
	
/* When targeted, registerContainer will drop down.*/
#registerContainer:target {
	top: 0;
	}
	
form label {
	font-weight: bold;
	}
	
/* Provide some space between each input in the form.*/
#registerForm  div{
	margin-bottom: 10px;
	}

.signInButton {
	height: 40px;
	background: #900;
	position: absolute;
	left: 20px;
	bottom: 20px;
	border: none;
	color: white;
	}

.button {
	height: 40px;
	background: #900;
	position: absolute;
	right: 20px;
	bottom: 20px;
	border: none;
	color: white;
	padding: 0px 20px;
	text-align: center;
	}
	
.button a {
	color: white;
	}


/* A container to center the submit and reset buttons.*/
/*
.buttonholder {
	text-align: center;
	margin: 40px auto 20px auto;
	}
*/



	
/*
.buttonholder input {
	width: 130px;
	border: none;
	color: #ffffff;
	background: #990000;
	padding: 4px;
	height: 30px;
	outline: none;
	}
*/


	
/* The container for the registration button. */
/*
.button {
	border: none;
	position: absolute;
	right: 20px;
	bottom: 20px;
	background: #900;
	color: #fff;
	padding: 4px;
	height: 30px;
	outline: none;
	padding: 2px 15px 0 15px;
	}
*/
	
	
/*
.button a {
	color: white;
	font-size: .8em;
	}
*/





/* Increases the size of the text fields.*/
.userinput {
	width: 100%;
	margin-bottom: 15px;
}

#hovering {
	color: #990000;
}
	





/*================================================== CONTACT ======================================================================*/

/* contact info container. */
#contact {
	width: 1024px;
	height: 100%;
	margin: auto;
	text-align: center;
	line-height: 150%;
	background: url('../images/contact_bg.jpg');
	}

/* social media icons container */
#icons {
	position: relative;
	width: 300px;
	margin: auto;
	text-align: center;
	}	
	
#icons a {
	border: 0;
	}

#icons img {
	height: 50px;
	padding: 5px;
	display: inline;
	}	

/*Social media icons along the bottom of the contact page.*/
.mediaicons {
	opacity: 0.6;
	}

.mediaicons:hover {
	opacity: 1;
	}
	

	
	
	
/*================================================== GALLERY ======================================================================*/
	
/* Container for the gallery ul. Position is set to relative so the ul can be
absolutely positioned inside of the container. Height is set to span from
top to bottom.*/
#gallery {
	height: 399px;
	padding-top: 1px;
	position: relative;
	font-family: 'Julius Sans One', 'Trebuchet MS', Arial, sans-serif;
	}
#gallery a {
	color: #000;
	}
/* Height is stretched from top to bottom through absolutely positioned attributes.
Overflow: hidden to temporarily crop text above the columns. */
#gallery ul {
	height: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 1024px;
	padding: 0;
	overflow: hidden;
	}

/* The individual gallery links. Floated left to remove gaps between columns.
Height spans entire gallery container. */
#gallery li{
	float: left;
	list-style-type: none;
	height: 100%;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	}

/* On hover, each gallery column will drop down and reveal text that indicates which 
gallery is being selected.*/
#gallery li:hover {
	margin-top: 50px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	}
	
/* Text in the middle of each gallery column. Temporarily disabled for further 
review. */
#gallery h2 {
	margin: 0;
	color: #ffffff;
	font-size: 2.5em;
	text-align: center;
	padding-top: 50%;
	line-height: 150%;
	position: relative;
	height: 100%;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	
	display: none;
	}

#gallery h2:hover {
	display: block;
	color: #000000;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	}
	
/* Text above the columns that is hidden until mouse hovers over their respective 
column; it then follows the column as it drops down.*/
#gallery h3 {
	position: absolute;
	top: -61px;
	right: 0px;
	font-size: 1.7em;
	z-index: -1;
	}

/* The following are the individual columns in the gallery.html page.
special treatment has been given to allow for the tinting of the columns prior 
to the mouse hovering over them.

Their position is set to relative to allow the text above the columns to be 
absolutely positioned.

Images were inserted via CSS instead of HTML.

REMEMBER TO PROPERLY SIZE IMAGES IN PHOTOSHOP FOR FINAL VERSION!!!*/

#people {
	width: 256px;
	height: 100%;
	background: url('../images/people_cover.jpg');
	background-size: 293px 440px;
	position: relative;
}
#places {
	width: 256px;
	height: 100%;
	background: url('../images/places_cover.jpg') -30px 0;
	background-size: 293px 440px;
	position: relative;
}
#nature {
	width: 256px;
	height: 100%;
	background-color: green;
	background: url('../images/nature_cover.jpg');
	background-size: 293px 440px;
	position: relative;
}
#blackwhite {
	width: 256px;
	height: 100%;
	background-color: blue;
	background: url('../images/blackwhite_cover.jpg');
	background-size: 293px 440px;
	position: relative;
}

/* slight padding to push the text 'BACK' 5px off the right edge of bounding red box */
.trans1 {
	padding-right: 5px;
	}

/* The tinting of the columns prior to mouse hover.*/
.tint {
	background-color: rgba(255, 255, 255, .5);
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	}
/* tint is removed on hover. Return to initial state is slower, at 1s.*/
.tint:hover {
	background-color: rgba(255, 255, 255, 0);
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	}

.thumb {
	height: 120px;
	width: 120px;
	display: inline;
	opacity: .5;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	margin-left: 0px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 2px;
	padding: 0;
	border-style: none;
	}
.thumb:hover {
	opacity: 1;
	}

#content #gallerynav {
	font-size: 1em;
	float: right;
	margin-top: -27px;
	padding-bottom: 5px;
}


#gallerycontainer {
	width: 1024px;
	margin: auto;
	padding: 0;
	}
#gallerycontainer #backButton {
	width: 246px;
	height: 120px;
	display: inline-block;
	background: #900;
	position: relative;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	margin-left: 0px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 2px;
	padding: 0;
	text-align: left;
	}
#gallerycontainer #backButton div {
	position: absolute;
	margin: 0;
	right: 0;
	bottom: 0;
	font-size: 2em;
	font-family: 'Julius Sans One', 'Trebuchet MS', sans-serif;
	color: white;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	}

#gallerycontainer #backButton:hover .arrows {
	letter-spacing: 10px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	}
.arrows {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	}
