/* Import "Julius Sans One" */
@font-face {
	font-family: "Julius Sans One";
	src: url('../fonts/JuliusSansOne-Regular.ttf');
}

/* Import "Scriptina" */
@font-face {
	font-family: Scriptina;
	src: url('../fonts/scriptina.regular.ttf');
	}

/* set default fonts */
body {
	font-family: 'Calibri', Arial, sans-serif;
	font-size: 1.2em;
	}

/* configure h1 element; will probably remove after using image as header. */
h1 {
	margin-top: 0;
	font-size: 250%;
	font-family: Scriptina, 'Trebuchet MS', sans-serif;
	position: relative;
	top: -30px;
	right: -30px;
	}

/* removes underlines on links and changes their color. */
a {
	text-decoration: none;
	color: #990000;
	}
/* Configures the page with a width of 1024px, centers horizontally.
Also automatically adjusts vertical position slightly depending on broswer width. */
#wrapper {	
	width: 1024px;
	/*border: 2px solid #aacccc;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	/*box-shadow: 0 0 30px #aaaaaa;*/
}

/* Adds an image to the logo div. Adds border. Z-index of 100 to keep it on top
of everything. */
#logo	{
	height: 160px;
	width: 160px;
	position: absolute;
	background: url('../images/logo1.png');
	background-size: 160px 160px;
	border: 2px solid #cccccc;
	z-index: 100;

	/*rounded corners */
	-webkit-border-radius: 130px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 130px;
	-moz-border-radius-bottomleft: 0;
	border-radius: 130px;
	border-bottom-left-radius: 0;
}

/* Sets width of 1024px and height 75px; white background 
so blog posts don't show through. */
#header {
	width: 1024px;
	height: 75px;
	margin: 0;
	text-align: right;
	background-color: #ffffff;
	position: relative;
	}
/* The title on the upper right hand corner. The picture 
is placed in an SVG element in the html to disable pointer 
events in Internet explorer.*/
#title {
	width: 448px;
	height: 92px;
	background: url('../images/title.png');
	background-size: 448px 92px;
	position: absolute;
	right: 0;
	top: 0;
	pointer-events: none;
	}

/* For blog page. Encapsulates the navbar, header, and logo, 
and fixes them to the top of the screen. */
#topfixed {
	width: 1024px;
	margin: 0 auto;
}

/* The nav bar. */
#nav {
	height: 30px;
	margin: 0;
	background-color: #cccccc;
	padding: 0;
}

/* Selects the ul containing the navbar links; 0 margin and padding along with
100% height to allow for the animated boxes to extend fully from top to bottom.
Margins force the ul to the right side of the navbar.*/
#nav ul {
	width: 800px;
	margin: 0 0 0 auto;
	height: 100%;
	padding: 0;
	}
	
/* Selects the individual links in the navbar. Height set to 100% to accomodate
animated boxes. Removed the bullets. Floated to the left to remove the gap
between each link. Margin to 0 to fit everything snugly. */
#nav li {
	height: 100%;
	list-style-type: none;
	float: left;
	margin: 0;
	text-align: center;
	}
	
/* Had to make this selection simply because for some reason, the margins would
push the text outside of the navbar. */
#nav p {
	margin: 0;
}

/* The generic content window that holds the content for each page.*/
#content {
	width: 1024px;
	height: 440px;
	margin: 0;
	padding: 0;	
}

/* The text "Select a gallery" in the gallery page.*/
#content h2 {
	padding-top: 5px;
	margin: 0;
	text-align: center;
	font-family: 'Julius Sans One', 'Trebuchet MS', Arial, sans-serif;
	letter-spacing: 5px;
	font-size: 1.6em;
	}

/* Container for blogcontent. Used to allow the blogcontent id to overflow all the way 
down to the bottom of the screen. */
#blogcontainer {
	position: absolute;
	background: red;
	top: 0;
	bottom: 0;
	margin-top: 115px;
	}
	
/* The title for the blog page.*/
#blogcontainer h2 {
	text-align: center;
	font-family: 'Julius Sans One', 'Trebuchet MS', Arial, sans-serif;
	letter-spacing: 10px;
	}
/* Removed height barrier to accommodate multiple blog posts. */
#blogcontent {
	position: absolute;
	height: 100%;
	width: 1024px;
	/*border-bottom: 1px dashed #000000;*/
	margin: 0;
	padding: 0;
	overflow: auto;
	}
	
/* smaller with than rest of page because the border-top attribute draws a tidy
line between itself and #content.*/
#footer {
	border-top: 1px solid #cccccc;
	width: 400px;
	height: 5px;
	margin-top: 5px;
	margin: 0 auto;
	color: #cccccc;
}

/* individual selector for <p> elements just in case we want to add other elements
in the future without messing everything up.*/
#footer p {
	margin: 0;
	font-size: .8em;
	text-align: center;
	font-style: italic;
	padding: 5px;
	}

/* Each individual post. Centered, with top and bottom margins to separate each post.*/
.blogpost {
	display: block;
	width: 800px;
	border: 1px dashed #aaaaaa;
	margin: 20px auto;
	background-color: #dddddd;
}

/* Centers the text, h3, and images.*/
.blogpost p, h4, img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 100px;
	}
	
/* Makes a box for user comments.*/
.blogpost .usercomments {
	background: #eeeeee;
	margin-left: 100px;
	margin-right: 100px;
	padding: 20px 10px;
	}

/* Formats hashtags.*/
.blogpost .hashtag {
	color: #999999;
	}
	
/* Formats the blogpost image captions.*/
.blogpost figcaption {
	text-align: center;
	font-style: italic;
	font-size: .8em;
	}
	
/*
.blogpost img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
*/

#contact {
	position: relative;
	width: 580px;
	left: 0;
	right: 0;
	margin: auto;
	line-height: 150%;
	text-align: center;
	}
#icons {
	position: relative;
	width: 300px;
	margin: auto;
	padding: auto;
	}
	

/*	
#icons {
	float: right; 
	margin-right: 100px;
	margin-top: 40px;
	} */
/*
#icons ul li {

	display: inline;

	}

#icons ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
*/

#icons a {
	border: 0;
	}

#icons img {
	height: 60px;
	padding: 5px;
	display: inline;
	}

/* contact info container. 
#contact {
	padding: 50px;
	padding-left: 75px;
	line-height: 150%;
	} */

/* The initial state of the box that drops down when user hovers over each nav link. 
Height is initially set to 0 to hide it above the text.*/
.navbutton {
	background-color: #990000;
	/*background-color: #ddeeee;*/
	text-shadow: 0 0 7px #eeeeee;
	width: 130px;
	height: 0%;
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
	}
	
/* The end state of the navbutton. Height is fully extended to 100%, and the return to 
its initial state is slower, at 1.5s.*/
.navbutton:hover {
	height: 100%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	}
	
/* The initial state of the text links in the nav bar. Starts black.*/
.link {
	padding-top: 4px;
	color: #000000;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	}

/* The end state of the text links in the nav bar. Text turns white. Return to the 
initial state is slower, at 1s.*/
.link:hover {
	display: block;
	color: #ffffff;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	}


/* The tinting of the columns prior to mouse hover.*/
.tint {
	background-color: rgba(255, 255, 255, .5);
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	}
/* tint is removed on hover. Return to initial state is slower, at 1s.*/
.tint:hover {
	background-color: rgba(255, 255, 255, 0);
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	}
	
/*  the follow section concerns the table for the first blog entry *
	added by Mae on Feb 15, 2014 */	
.table {
margin: auto;
padding: 10px 100px;
display: block;
}
	table {
		text-align: center;
		border-collapse: collapse;
		table-layout: fixed;
		font-family: Calibri, sans-serif;
		}
	

	
	th {
		background-color: #990000;
		color: #ffffff;
		padding-left: 5px;
		padding-right: 5px;
		height: 40px;
		vertical-align: center;
		font-family: Julius Sans One, sans-serif;
		}
	
	td {
		width: 275px;
		padding-left: 15px;
		padding-right: 15px;
		}
		
	tr {
		width: 275px;
		height: 30px;
		vertical-align: center;
		}
		
	tr:nth-child(2n) {
		background-color: #ffffff;
		}